@import url('http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css');

body {
  /* rules go here */
}

#creditCardForm {
	margin-left: auto;
	margin-right: auto;
	width: 450px;
}

form input{
	min-height: 25px;
}

.alert {
	line-height: 40px;
}

label {
	display: inline;
	font-weight: 900;
}

.hero-unit{
	margin: auto;
	text-align: center;
	display: block;
}

.hide{
	display: none;
}